<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Me Laugh!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="home-container">
    <h1> Welcome to Joke of the day🤡</h1>
    <form action="/joke" method="post">
        <input type="text" name="name" placeholder="Enter your name: " required/>
        <select name="category">
            <option value="programming">programming</option>
            <option value="misc">misc</option>
            <option value="pun">pun</option>
        </select>
        <button type="submit">Get a Joke </button>
    </form>
    </div>
</body>
</html>