<!DOCTYPE html>
<html>
<head>
  <title>Make Me Laugh!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="joke-layout">
    <header>
      <h2>Hey <%= user %>! Here's your joke </h2>
    </header>

    <main>
      <p><%= joke %></p>
    </main>

    <footer>
      <a href="/"><button type="button">Back</button></a>
    </footer>
  </div>
</body>
</html>
